@media(max-width:357px){
    .nav-item {
        margin-right: 3px;
    }
    .navbar input{
        min-width: 160px !important;
    }
    .navbar input::placeholder{
        font-size: 14px;
    }
    
    .upside {
        top: calc(77px) !important;
    }
    #myHeader{
        min-height: 74px;
    }
    #searchtext{
          display: none ;
        min-width: 230px !important;
        position: absolute !important;
        right: 53px;
    }
    #togcross{
        display: none;
    }
    .tog_searchbtn{
        color: #707070 !important;
        outline: none;
        font-size: 26px;
    }
     .tog_searchbtn:focus{
         box-shadow: none;
     }
     #asideshow {
        border: none;
        background: none;
        background-color: #21242E;
        color: #F0F0F0 !important;
        position: fixed;
        bottom: 13px;
        right: 19px;
        z-index: 222;
        padding: 19px;
        border-radius: 41px;
    }
    #asideshow i{
        font-size: 27px;
    }
    #coursetopics{
        display: none;
        z-index: 111;
        background-color: #f5f5f5;
    }
    .course_detail,.btm_sponcer,.footer_content{
        margin-left: 0;
    }
    .navbar input{top: 8PX;}
    .change_btn {
        font-size: 10px;
    }
    .video_btn {
        font-size: 10px;
    }
    .login_btn{
        margin-right: 2px;
    }
    .cntent_title h1 {
        font-size: 23px;
    }
    .footer_copyright {
        padding: 0 15px;
    }
    #header-top h2{
        font-size: 28px;
    }
    .dis_one {
        margin-top: 15px;
    }
    #header-top{
        height: 78px;
    }
    #navbarSupportedContent {
        position: absolute;
        background-color: #21242E !important;
        width: 100%;
        top: 50px;
        z-index: 333;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 6px 16px rgb(0 0 0 / 16%);
    }
    .beginner-title button{
        font-size: 14px;
        padding: 10px 11px;
    }
    .beginner-title h1 {
        font-size: 26px;
    }
    .beginner-title p {
        font-size: 16px;
    }
    .custom-text{
        padding: 20px 0px;
    }
    .custom-text button{
        font-size: 17px;
        padding: 12px 40px;
    }
        
    .custom-text h1 {
        font-size: 20px;
    }
    .beginner-title{
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }  
    .footer_copyright {
        padding: 0 5px;
    }
    .navbar .dropdown-menu {
        min-width: 269px !important;
    }
}
@media (min-width:357px) and (max-width:462px){
    .nav-item {
        margin-right: 3px;
    }

    .navbar input{
        min-width: 160px !important;
    }
    .navbar input::placeholder{
        font-size: 14px;
    }
    
    .upside {
        top: calc(77px) !important;
    }
    #myHeader{
        min-height: 74px;
    }
    #searchtext{
          display: none ;
        min-width: 230px !important;
        position: absolute !important;
        right: 53px;
    }
    #togcross{
        display: none;
    }
    .tog_searchbtn{
        color: #707070 !important;
        outline: none;
        font-size: 26px;
    }
     .tog_searchbtn:focus{
         box-shadow: none;
     }
     #asideshow {
        border: none;
        background: none;
        background-color: #21242E;
        color: #F0F0F0 !important;
        position: fixed;
        bottom: 13px;
        right: 19px;
        z-index: 222;
        padding: 19px;
        border-radius: 41px;
    }
    #asideshow i{
        font-size: 27px;
    }
    #coursetopics{
        display: none;
        z-index: 111;
        background-color: #f5f5f5;
    }
    .course_detail,.btm_sponcer,.footer_content{
        margin-left: 0;
    }
    .navbar input{top: 8PX;}
    .change_btn {
        font-size: 12px;
    }
    .video_btn {
        font-size: 12px;
    }
    .login_btn{
        margin-right: 2px;
    }
    .cntent_title h1 {
        font-size: 23px;
    }
    .footer_copyright {
        padding: 0 15px;
    }
    #header-top{
        height: 78px;
    }
    #navbarSupportedContent {
        position: absolute;
        background-color: #21242E !important;
        width: 100%;
        top: 50px;
        z-index: 333;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 6px 16px rgb(0 0 0 / 16%);
    }  
    .beginner-title button{
        font-size: 14px;
        padding: 10px 11px;
    }
    .beginner-title h1 {
        font-size: 26px;
    }
    .beginner-title p {
        font-size: 16px;
    }
    .custom-text{
        padding: 20px 10px;
    }
    .custom-text button{
        font-size: 17px;
        padding: 12px 40px;
    }
        
    .custom-text h1 {
        font-size: 20px;
    }
    .beginner-title{
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }
    .footer_copyright {
        padding: 0 5px;
    }
}
@media (min-width:462px) and (max-width:575px){
    .nav-item {
        margin-right: 3px;
    }
    .navbar input{
        min-width: 160px !important;
    }
    .navbar input::placeholder{
        font-size: 14px;
    }
    
    .upside {
        top: calc(77px) !important;
    }
    #myHeader{
        min-height: 74px;
    }
    #searchtext{
          display: none ;
        min-width: 230px !important;
        position: absolute !important;
        right: 53px;
    }
    #togcross{
        display: none;
    }
    .tog_searchbtn{
        color: #707070 !important;
        outline: none;
        font-size: 26px;
    }
     .tog_searchbtn:focus{
         box-shadow: none;
     }
     #asideshow {
        border: none;
        background: none;
        background-color: #21242E;
        color: #F0F0F0 !important;
        position: fixed;
        bottom: 13px;
        right: 19px;
        z-index: 222;
        padding: 19px;
        border-radius: 41px;
    }
    #asideshow i{
        font-size: 27px;
    }
    #coursetopics{
        display: none;
        z-index: 111;
        background-color: #f5f5f5;
    }
    .course_detail,.btm_sponcer,.footer_content{
        margin-left: 0;
    }
    .navbar input{top: 8PX;}
    .footer_copyright {
        padding: 0 15px;
    }
    #header-top{
        height: 78px;
    }
    #navbarSupportedContent {
        position: absolute;
        background-color: #21242E !important;
        width: 100%;
        top: 50px;
        z-index: 333;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 6px 16px rgb(0 0 0 / 16%);
    }  
    .beginner-title button{
        font-size: 14px;
        padding: 10px 11px;
    }
    .beginner-title h1 {
        font-size: 20px;
    }
    .beginner-title p {
        font-size: 15px;
    }
    .custom-text{
        padding: 20px 10px;
    }
    .custom-text button{
        font-size: 17px;
        padding: 12px 40px;
    }
        
    .custom-text h1 {
        font-size: 20px;
    }
}
@media (min-width:575px) and (max-width:768px){
    .nav-item {
        margin-right: 3px;
    }
    .navbar input{
        min-width: 160px !important;
    }
    .navbar input::placeholder{
        font-size: 14px;
    }
    
    .upside {
        top: calc(74px) !important;
    }
    #myHeader{
        min-height: 74px;
    }
    #searchtext{
          display: none ;
        min-width: 230px !important;
        position: absolute !important;
        right: 53px;
    }
    #togcross{
        display: none;
    }
    .tog_searchbtn{
        color: #707070 !important;
        outline: none;
        font-size: 26px;
    }
     .tog_searchbtn:focus{
         box-shadow: none;
     }
     #asideshow {
        border: none;
        background: none;
        background-color: #21242E;
        color: #F0F0F0 !important;
        position: fixed;
        bottom: 13px;
        right: 19px;
        z-index: 222;
        padding: 19px;
        border-radius: 41px;
    }
    #asideshow i{
        font-size: 27px;
    }
    #coursetopics{
        display: none;
        z-index: 111;
        background-color: #f5f5f5;
    }
    .course_detail,.btm_sponcer,.footer_content{
        margin-left: 0;
    }
    #navbarSupportedContent {
        position: absolute;
        background-color: #21242E !important;
        width: 100%;
        top: 50px;
        z-index: 333;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 6px 16px rgb(0 0 0 / 16%);
    }  
    .custom-text{
        padding: 20px;
    }
    .custom-text button{
        font-size: 17px;
        padding: 12px 40px;
    }
        
    .custom-text h1 {
        font-size: 20px;
    }
}
@media (min-width:768px) and (max-width:992px){
    .nav-item {
        margin-right: 3px;
    }

    .navbar input{
        min-width: 160px !important;
    }
    .navbar input::placeholder{
        font-size: 14px;
    }
    
    .upside {
        top: calc(74px) !important;
    }
    #myHeader{
        min-height: 74px;
    }
  
    #searchtext{
          display: none ;
        min-width: 230px !important;
        position: absolute !important;
        right: 53px;
    }
    #togcross{
        display: none;
    }
    .tog_searchbtn{
        color: #707070 !important;
        outline: none;
        font-size: 26px;
    }
     .tog_searchbtn:focus{
         box-shadow: none;
     }
     #asideshow {
        border: none;
        background: none;
        background-color: #21242E;
        color: #F0F0F0 !important;
        position: fixed;
        bottom: 13px;
        right: 19px;
        z-index: 222;
        padding: 19px;
        border-radius: 41px;
    }
    #asideshow i{
        font-size: 27px;
    }
    #coursetopics{
        display: none;
        z-index: 111;
        background-color: #f5f5f5;
    }
    .course_detail,.btm_sponcer,.footer_content{
        margin-left: 0;
    }
    #navbarSupportedContent {
        position: absolute;
        background-color: #21242E !important;
        width: 100%;
        top: 50px;
        z-index: 333;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 6px 16px rgb(0 0 0 / 16%);
    }  
}
@media (min-width:992px) and (max-width:1091px){
    .nav-item {
        margin-right: 3px;
    }
    .link_text {
        font-size: 14px;
    }
    .nav_textdown {
        font-size: 12px;
    }
    .navbar input{
        min-width: 160px !important;
    }
    .navbar input::placeholder{
        font-size: 14px;
    }
    
    .upside {
        top: calc(69px) !important;
    }
    #myHeader{
        min-height: 74px;
    }
   
}
@media (min-width:1091px) and (max-width:1260px){
    .nav-item {
        margin-right: 10px;
    }
    .link_text {
        font-size: 16px;
    }
    .nav_textdown {
        font-size: 13px;
    }
    .navbar input{
        min-width: 240px !important;
    }
}

/* blog setting */
@media(min-width:768px){
    .blog_box .card-text{
        height: 33px;}
    .blog_box .card-title{ height: 28px;}
}
@media(max-width:768px){
    .blog_box .blogbox_heading {
        padding: 12px 25px;
    }
    .blogbox_heading h1{
       font-size: 2rem;;
    }
    .read_title h1 {
        font-size: 1.4rem;
    }
}
